body {
  background-color: rgba(171, 233, 216, 0.981);
  color:rgba(44, 109, 114, 0.925);
}

.textbrick{
text-align: center;
font-family: cursive;
   font-size: 2rem;
}

.entrybutton{
  color:rgb(0, 68, 255);
}

 .titletext {
      position: relative;
      -webkit-box-reflect: below -20px linear-gradient(transparent, rgb(255, 255, 255));
      font-size: 60px;
    }
    .titletext span {
      font-family: fantasy;
    
      position: relative;
      display: inline-block;
      color: #ff009d;
      text-transform: uppercase;
      animation: titletext 1.1s infinite;
      animation-delay: calc(.1s * var(--i));
    }
    @keyframes titletext {
      0%,5%,100% {
        transform: translateY(0)
      }
      50% {
        transform: translateY(-20px)
      }
    }

    #verzenden{
        background-color: rgba(171, 233, 216, 0.981);
  color:rgb(59, 198, 101);
  font-family: cursive;
  font-size: 50px;
  border: none;
    }
    
       #verzenden:hover{
        background-color: rgba(59, 198, 101);
  color:rgba(255, 255, 255, 0.925);
  font-family: impact;
  font-size: 70px;
    }
    